section#nav
  .wrapper.row  
    a#logo(href="") THERE ARE NO TIMES

section#main
  .wrapper

    #title!= title

  .wrapper.row 

    #sidebar

      #info
        .name!= author
        .datetime!= datetime.toDateString()

    #content
      
      #image
        img(src=`/resources/${site}/image/image.png`)

      #text!= content

  .wrapper

    #list 
      label!= "More Articles"
      each index, i in links
        if i == 6
          - break
        a(href=`/${index.site}`).element.row
          img(src=`/resources/${index.site}/image/image.png`)
          p!= index.title

section#footer