nav#nav
  .wrapper.search 
    .logo 
      h2!= site.toUpperCase()
    .deliver 
      p.to Deliver to 
      p.country Nowhere
    .searchbox 
      input(type="text" placeholder="type something..." autocomplete="off" spellcheck="false")
      button 
        span(class="material-symbols-outlined") search
    .cart 

  .wrapper.menu
    a(href=`/${links[0].site}`) Today's Deals 
    a(href=`/${links[1].site}`) Customer Service 
    a(href=`/${links[2].site}`) Registry 
    a(href=`/${links[3].site}`) Gift Cards 
    a(href=`/${links[4].site}`) Sell

section#content-item
  .grid.wrapper

    .cell.image 
      img(src=`/resources/${links[0].site}/image/image.png`)

    .cell.desc 
      .name!= title
      .text!= content

    .cell.buy

section#content-list
  .wrapper

footer#footer 
  .wrapper