nav
  .wrapper
    .cell.left 
      a(href=`/${links[1].site}`) Go to nowhere
    .cell.right
      a(href=`/${links[2].site}`) Another document

br

section#content
  .wrapper 
    .cell.content!= content

br

nav
  .wrapper
    .cell.left 
      a(href=`/${links[3].site}`) Go to nowhere
    .cell.right
      a(href=`/${links[4].site}`) Another document