doctype html
html

  link(href="/resources/style.css" rel="stylesheet")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  
  title!= title

  style!= style

  script!= headscript

  body

    main!= content
    
    script!= script